@import "../packages/bootstrap-4.1.2/scss/bootstrap-grid.scss";
@import "../packages/bootstrap-4.1.2/scss/bootstrap-reboot.scss";

// ****************************************
.b-containerMy {
    // background: yellowgreen;
    width: 674px;
    margin: 0 auto;
    padding-bottom: 150px;
}
// ****************************************
.b-header {
    height: 200px;
    width: 100%;

    &__logoLink {
        display: flex;
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: none;
            color: black;
        }

        &:active {
            text-decoration: none;
        }
    }

    &__logoImage {
        width: 200px;
        height: 200px;
    }

    &__logoTitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        line-height: 200px;
    }
}
// ****************************************
.b-gallery {
    background: brown;

    &_marginTop {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__slider {
        display: grid;
        display: flex;
    }

    &__prevSlide,
    &__nextSlide {
        background: yellow;
        font-size: 90px;
        line-height: 480px;
        padding-left: 20px;
        padding-right: 20px;
    } 

    &__bigImageWrap {
        background: green;
        border: 1px solid black;
        box-sizing: border-box;
        // height: 482px;
    }

    &__bigImage {
        width: 480px;
        height: 480px;
    }

    &__imagesWrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
        margin-top: 20px;
    }

    &__image {
        width: 150px;
        height: 150px;
        border: 1px solid black;
    }
}
// ****************************************

.blueFatalityImg{
    width: 100%;
    height: 1200px;
}